body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  color: #00B7FF;
}
.message {
  display: none;
}

.songsBox, form {
  background: white;
  opacity: 0.7;
  padding: 8px;
  border-radius: 5px;
}
